html
  head
    title!= title
    link(rel='stylesheet', href='/files/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/files/styles.css', type='text/css')
    script(src='/files/jquery.min.js')
  body.shadowcover
  block content