@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
@font-face {

	    font-family: Scriptorama; /* имя шрифта для CSS правил */

	    src: local("Scriptorama"), /* проверяем наличие шрифта в ОС пользователя */

	         url(../files/Raleway-Light.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */

	  }

BODY {
 
   } 
   A {
    color: black; /* Цвет ссылок */
   }
   A:visited {
    color: white; /* Цвет посещенных ссылок */
   }
   A:active {
    color: gray; /* Цвет активных ссылок */
   }

img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/
.datatable {
background-color: rgba(250, 250, 250, 0.2);
font-family: 'Scriptorama';
box-shadow: 0px 0px 0px black, 0 0 1em white;
text-shadow: 0px 0px 0px gray, 0 0 1em black;
text-align: center;
}
.textheader{
color: white;
font-family: 'Scriptorama';
text-shadow: 0px 0px 0px gray, 0 0 1em black;
text-align: center;	
}
.textsizenorm{
	font-size: 48px;
}
.textsizesmall{
	font-size: 24px;
	font-family: 'Scriptorama';
}
.textsizebig{
	padding: 50px;
	font-size: 96px;
}
.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

.widthdiv{
	width: 70%;
}

/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
}